<a href="https://colab.research.google.com/github/a01737544/Analitica_Datos/blob/main/M1_1_Procesamientoo_de_archivos_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#cargar el archivo
import pandas as pd
df = pd.read_csv('/content/movies.csv')
print(df.shape)

(6820, 16)

In [ ]:
print(df.columns)

Index(['millones', 'budget', 'company', 'country', 'director', 'genre',
       'gross', 'name', 'rating', 'released', 'runtime', 'score', 'star',
       'votes', 'writer', 'year'],
      dtype='object')

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   millones  6820 non-null   float64
 1   budget    6820 non-null   int64
 2   company   6820 non-null   object
 3   country   6820 non-null   object
 4   director  6820 non-null   object
 5   genre     6820 non-null   object
 6   gross     6820 non-null   int64
 7   name      6820 non-null   object
 8   rating    6820 non-null   object
 9   released  6820 non-null   object
 10  runtime   6820 non-null   int64
 11  score     6820 non-null   float64
 12  star      6820 non-null   object
 13  votes     6820 non-null   int64
 14  writer    6820 non-null   object
 15  year      6820 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 852.6+ KB
None

In [ ]:
print(df.dtypes)

millones    float64
budget        int64
company      object
country      object
director     object
genre        object
gross         int64
name         object
rating       object
released     object
runtime       int64
score       float64
star         object
votes         int64
writer       object
year          int64
dtype: object

In [ ]:
#seleccion de 8 columnas
df2 = df[['budget','star','company','country','director','genre','score','runtime']]
print(df2.shape)

(6820, 8)

In [ ]:
print(df2['runtime'].describe())

count    6820.00000
mean      106.55132
std        18.02818
min        50.00000
25%        95.00000
50%       102.00000
75%       115.00000
max       366.00000
Name: runtime, dtype: float64

In [ ]:
print(df2['score'].describe())

count    6820.000000
mean        6.374897
std         1.003142
min         1.500000
25%         5.800000
50%         6.400000
75%         7.100000
max         9.300000
Name: score, dtype: float64

In [ ]:
print(df2['director'].value_counts())

director
Woody Allen          33
Clint Eastwood       24
Steven Spielberg     21
Steven Soderbergh    21
Ron Howard           20
                     ..
Deon Taylor           1
Justin Kelly          1
Johannes Roberts      1
Takeshi Nozue         1
James Schamus         1
Name: count, Length: 2755, dtype: int64

In [ ]:
print(df2['star'].value_counts())

star
Nicolas Cage          42
Robert De Niro        38
Denzel Washington     36
Tom Hanks             35
Bruce Willis          33
                      ..
Jack Huston            1
Teresa Palmer          1
John Gallagher Jr.     1
Taron Egerton          1
Neel Sethi             1
Name: count, Length: 2503, dtype: int64

In [ ]:

plt.subplot(221)
plt.hist(df['budget',bins=20,color='green'])

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-315226561.py, line 2)